
@{
    ViewBag.Title = "Quiz";
}

<div ng-app="quiz">
    <div ng-view=""></div>
</div>

@Scripts.Render("~/bundles/angular")

<!-- main app script -->
<script src="~/app/app.js"></script>

<!-- controllers -->
<script src="~/app/controllers/QuizPackagesController.js"></script>
<script src="~/app/controllers/QuizPackageEditController.js"></script>

<!-- services -->
<script src="~/app/services/quizPackage.js"></script>

<!-- filters-->

<!-- directives -->
