
@{
    ViewBag.Title = "Quiz";
}

<div ng-app="quiz">
    <div ng-view=""></div>
</div>

@Scripts.Render("~/bundles/angular")

<!-- main app script -->
<script src="~/app/app.js"></script>

<!-- directives -->
<script src="~/app/directives/directives.js"></script>

<!-- controllers -->
<script src="~/app/controllers/modalControllerBase.js"></script>
<script src="~/app/controllers/QuizPackagesController.js"></script>
<script src="~/app/controllers/QuizPackageEditController.js"></script>
<script src="~/app/controllers/QuizPackageDeleteController.js"></script>
<script src="~/app/controllers/QuizPackageAddController.js"></script>
<script src="~/app/controllers/QuizController.js"></script>
<script src="~/app/controllers/quizEditController.js"></script>
<script src="~/app/controllers/QuizDeleteController.js"></script>
<script src="~/app/controllers/QuizAddController.js"></script>
<script src="~/app/controllers/QuizQuestionsController.js"></script>

<!-- services -->
<script src="~/app/services/quizPackageService.js"></script>
<script src="~/app/services/quizService.js"></script>

<!-- filters-->
