
@{
    ViewBag.Title = "Quiz";
}


<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>

<div ng-app="quiz">

</div>


<script type="text/javascript">
    var app = angular.module("quiz", ["ngRoute"]);



</script>