<form class="form-horizontal" name="quizForm" novalidate>
    <div class="modal-header">
        <a href="" class="close" ng-click="close()">&times;</a>
        <h4>Edit quiz</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Name:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-book"></span>
                </span>
                <input type="text" name="quizName"
                       maxlength="255"
                       class="form-control"
                       fs-unique=""
                       ng-model="quiz.Name"
                       placeholder="Quiz name" required />
            </div>

            <label>View:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </span>
                <input type="text" name="quiz.View"
                       maxlength="255"
                       class="form-control"
                       ng-model="quiz.View"
                       placeholder="View" required />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="save()"
                class="btn btn-success pull-right"
                ng-disabled="quizForm.$invalid || !quizForm.$dirty">
            Save
        </button>
    </div>

</form>