<form class="form-horizontal" name="questionForm" novalidate role="form">
    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4>Add new open question</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control" rows="3"
                      ng-model="question.Content"
                      placeholder="Question content"
                      required></textarea>
        </div>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   ng-model="question.OrderId"
                   placeholder="Order number"
                   required />

            <input type="text"
                   class="form-control"
                   ng-model="question.View"
                   placeholder="View"
                   required />
        </div>

        <div class="form-group" ng-repeat="answer in question.CorrectAnswers">
            <div class="form-group" ng-repeat="option in answer.CorrectAnswerOptions">
                <input class="form-control" ng-model="option.Content" required />
            </div>
            <button class="btn btn-sm btn-default" ng-click="addOption()">Add option</button>
        </div>
        <div>
            <button class="btn btn-sm btn-default" ng-click="addAnswer()">Add answer</button>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" data-ng-click="add()"
                class="btn btn-success pull-right"
                data-ng-disabled="questionForm.$invalid || !questionForm.$dirty">
            Add
        </button>
    </div>
</form>