<div class="panel panel-default">
    <div class="panel-heading">
        <span>{{currentQuestion.Content}}</span>
        <span class="pull-right label label-default">
            {{questionIndex + 1}}
            / {{quiz.QuestionCount}}
        </span>
    </div>

    <div class="panel-body">
        <!-- Test question template -->
        <div ng-show="currentQuestion.QuestionType == 'Test'">
            <div ng-repeat="option in currentQuestion.Answers">
                <p>
                    <label ng-switch="testQuestionHasManyAnswers(currentQuestion)">
                        <input type="checkbox" ng-model="option.IsChecked" ng-switch-when="true" />
                        <input type="radio" ra name="option" ng-model="option.IsChecked" ng-switch-when="false" />
                        {{option.Content}}
                    </label>
                </p>
            </div>
        </div>

        <!-- Open question template -->
        <div ng-show="currentQuestion.QuestionType == 'Open'">
            Open question
        </div>

        <div ng-show="currentQuestion.QuestionType == 'Category'">
            Category
        </div>

        <div ng-show="currentQuestion.QuestionType == 'Sort'">
            Sort
        </div>

    </div>

    <div class="panel-footer">
        <button class="btn btn-default btn-sm" ng-click="prevQuestion()" ng-disabled="questionIndex == 0">&laquo; Previous</button>
        <button class="btn btn-default btn-sm" ng-click="nextQuestion()" ng-show="questionIndex < quiz.QuestionCount - 1">Next  &raquo;</button>
        <button class="btn btn-info btn-sm" ng-click="checkAnswers()" ng-show="questionIndex == quiz.QuestionCount - 1">Check answers!</button>
    </div>
</div>