<div class="row">
    &nbsp;
</div>

<div class="row">
        <div class="col-md-8">
            <h4>This is <i>{{quizPackage.Name}}</i> package.</h4>
        </div>

        <div class="col-md-4">
            <button class="btn btn-default pull-right" ng-click="openAddModal(quizPackage.Id)">Add new</button>
        </div>
</div>

<toaster-container toaster-options="{'time-out': 5000}"></toaster-container>

<div class="well well-sm" ng-show="quizes.length == 0">
    <h5>No quizes found.</h5>
</div>

<ul class="list-group" data-ng-repeat="quiz in quizes">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-10">
                <span class="label label-info">{{quiz.QuestionCount}}</span>
                <button class="btn btn-link" ng-click="details(quiz)">{{quiz.Name}}</button>
            </div>

            <div class="col-md-1">
                <button class="btn btn-success pull-right" ng-click="openEditModal(quiz)">Edit</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger pull-right" ng-click="openDeleteModal(quiz)">Delete</button>
            </div>
        </div>
    </li>
</ul>
