<form class="form-horizontal" name="quizPackageForm" novalidate role="form">

    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4>Add new quiz package</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-book"></span>
                </span>
                <input type="text" name="quizPackageName"
                       maxlength="255"
                       class="form-control"
                       data-fs-unique=""
                       data-ng-model="quizPackage.Name"
                       placeholder="Quiz package name" required />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" data-ng-click="add()"
                class="btn btn-success pull-right"
                data-ng-disabled="quizPackageForm.$invalid || !quizPackageForm.$dirty">
            Add
        </button>

    </div>
</form>