<div class="well-sm">
    <button class="btn btn-sm btn-info" ng-click="areOpenQuestionsCollapsed = !areOpenQuestionsCollapsed">Open questions</button>

    <div class="well" collapse="areOpenQuestionsCollapsed">

        Open Questions

    </div>
</div>

<div class="well-sm">
    <button class="btn btn-sm btn-info" ng-click="areTestQuestionsCollapsed = !areTestQuestionsCollapsed">Test questions</button>

    <div class="well" collapse="areTestQuestionsCollapsed">

        Open Questions

    </div>
</div>

<div class="well-sm">
    <button class="btn btn-sm btn-info" ng-click="areCategoryQuestionsCollapsed = !areCategoryQuestionsCollapsed">Category questions</button>

    <div class="well" collapse="areCategoryQuestionsCollapsed">

        Category Questions

    </div>
</div>

<div class="well-sm">
    <button class="btn btn-sm btn-info" ng-click="areSortQuestionsCollapsed = !areSortQuestionsCollapsed">Sort questions</button>

    <div class="well" collapse="areSortQuestionsCollapsed">

        Sort Questions

    </div>
</div>