
<div class="col-xs-12 col-sm-12 col-md-12">
    <form class="form-horizontal">
        <div class="form-group">

            <div class="col-md-8">
                <h3>This is: <i>{{quizPackage.Name}}</i> package.</h3>
            </div>

            <div class="col-md-4">
                <button class="btn btn-default pull-right" ng-click="openAddModal(quizPackage.Id)">Add new</button>
            </div>
        </div>

        <toaster-container toaster-options="{'time-out': 5000}"></toaster-container>

        <div class="well well-sm" ng-show="quizes.length == 0">
            <h5>No quizes found.</h5>
        </div>

        <ul class="list-group" data-ng-repeat="quiz in quizes">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-1">
                        <span class="label label-info">{{quiz.QuestionCount}}</span>
                    </div>
                    <div class="col-md-9">
                        {{quiz.Name}}
                    </div>

                    <div class="col-md-1">
                        <button class="btn btn-success pull-right" ng-click="openEditModal(quiz)">Edit</button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger pull-right" ng-click="openDeleteModal(quiz)">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
    </form>
</div>