<div class="modal-header">
    <a href="" class="close" ng-click="close()">&times;</a>
    <h4>Add new quiz</h4>
</div>
<div class="modal-body">

    <form class="form-horizontal" name="quizForm" novalidate>
        <div class="form-group">
            <label>Name:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-book"></span>
                </span>
                <input type="text" name="quizName"
                       maxlength="255"
                       class="form-control"
                       fs-unique=""
                       ng-model="quiz.Name"
                       placeholder="Quiz name" required />
            </div>

            <label>View:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </span>
                <input type="text" name="quiz.View"
                       maxlength="255"
                       class="form-control"
                       ng-model="quiz.View"
                       placeholder="View" required />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" ng-click="add()"
            class="btn btn-success pull-right"
            data-ng-disabled="quizForm.$invalid || !quizForm.$dirty">
        Add
    </button>
</div>