
<div class="modal-header" ng-switch="view">
    <a href="" class="close" data-ng-click="close()">&times;</a>
    <h4 ng-switch-when="add">Add new test question</h4>
    <h4 ng-switch-when="edit">Edit test question</h4>
</div>
<div class="modal-body">

    <form class="form-horizontal" name="questionForm" novalidate role="form">
        <div class="form-group">
            <div class="col-md-12">
                <textarea class="form-control" rows="3"
                          ng-model="question.Content"
                          placeholder="Question content"
                          required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="number"
                       class="form-control"
                       ng-model="question.OrderId"
                       placeholder="Order number"
                       required />
            </div>
        </div>

        <div class="well" ng-repeat="option in question.Answers">

            <div class="form-group well-sm">
                <input class="form-control input-sm" placeholder="Answer option" ng-model="option.Content" required />

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="option.IsCorrect" /> Is correct?
                    </label>
                </div>
            </div>


        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button class="btn btn-sm btn-success" ng-click="addOption()">Add option</button>
                <button class="btn btn-sm btn-danger" ng-click="deleteOption()" ng-disabled="answer.Answers.length < 2">Delete option</button>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer" ng-switch="view">
    <button type="button" ng-click="add()" ng-switch-when="add"
            class="btn btn-success pull-right"
            ng-disabled="questionForm.$invalid || !questionForm.$dirty">
        Add
    </button>

    <button type="button" ng-click="save()" ng-switch-when="edit"
            class="btn btn-success pull-right"
            ng-disabled="questionForm.$invalid || !questionForm.$dirty">
        Save
    </button>
</div>
